<a href="https://colab.research.google.com/github/cybermin/2022_BSSM/blob/main/team.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 해결문제
+ 부산소프트웨어마이스터 고등학교 1학년은 4개의 반으로 편성되어 있다. 랜덤으로 각 반의 한명씩을 뽑아서 조를 편성하시오. 각 반의 인원은 다음과 같다.
  + 1반 : 15명 
  + 2반 : 16명 ( 8번은 빠질 수 있음 )
  + 3반 : 16명
  + 4반 : 15명 ( 8번, 9번이 없음 )

In [12]:
#모듈 추가
import random
import pandas as pd

#조번호와 4개의 반 번호를 저장하는 리스트 생성
lt = []
for i in range(5) :
  lt.append(list(range(1,17)))

#각반 번호 섞기
for i in range(1, 5) :
  random.shuffle(lt[i])


#리스트를 판다스 데이터프레임으로 생성
df = pd.DataFrame(lt)


#행과 열을 전환
df = df.T

#열인덱스 설정 
df.columns = ['조', '1반','2반','3반','4반']

#조번호를 행인덱스로 설정
df = df.set_index('조')

#각반의 예외 조건 설정 

df.loc[df[df['1반'] == 16].index, '1반'] = '없음'
df.loc[df[df['2반'] == 8].index, '2반'] = '빠질수있음'
df.loc[df[df['4반'] == 8].index, '4반'] = '없음'
df.loc[df[df['4반'] == 9].index, '4반'] = 17
df

    1반     2반  3반  4반
조
1    1     16   7   5
2   13     11  16  10
3   10     12  11   3
4   11      4  14  12
5    7     15   1  16
6    5      6   8  없음
7   14     14   6  13
8   12      7  15   1
9    6      5   2  14
10   4     13   5  15
11   2  빠질수있음  10   7
12  15     10  13   2
13   9      1   3   4
14   8      2   9  17
15   3      3  12  11
16  없음      9   4   6